---
const currentYear = new Date().getFullYear();
---
<footer class="border-t-[length:var(--border-width-comic)] border-black mt-24 py-12 bg-white relative">
    <!-- Decorative dots or pattern could go here -->
    <div class="max-w-5xl mx-auto px-4 text-center flex flex-col gap-6">
        <p class="font-comic-heading text-xl tracking-wide">&copy; {currentYear} SAVITHA</p>
        <div class="flex justify-center gap-8 font-comic-body font-bold text-lg">
            <a href="https://github.com" target="_blank" class="text-black hover:text-primary hover:-translate-y-1 transition-transform inline-block relative group">
              GitHub
              <span class="absolute -bottom-1 left-0 w-0 h-[2px] bg-primary transition-all group-hover:w-full"></span>
            </a>
            <a href="https://linkedin.com" target="_blank" class="text-black hover:text-secondary hover:-translate-y-1 transition-transform inline-block relative group">
              LinkedIn
              <span class="absolute -bottom-1 left-0 w-0 h-[2px] bg-secondary transition-all group-hover:w-full"></span>
            </a>
            <a href="https://twitter.com" target="_blank" class="text-black hover:text-accent hover:-translate-y-1 transition-transform inline-block relative group">
              Twitter
              <span class="absolute -bottom-1 left-0 w-0 h-[2px] bg-accent transition-all group-hover:w-full"></span>
            </a>
        </div>
    </div>
</footer>
